/* @page {
    background-color: blue;
} */

.navbar-item.busqueda {
    z-index: 10;
    grid-row: 1/2;
    grid-column: 2/5;
    height: 100%;
    width: 73%;

}

.navbar-item.busqueda form {
    display: flex;
    height: 100%;
    min-width: 100%;
    border-radius: 20px;
    border: .3px solid var(--color);
    padding: 5px;
    /* box-shadow: var(--color) 0px 0px 3px; */
}

/* arreglar auto ajuste de la input. */
.navbar-item.busqueda form .i-txt {
    height: 100%;
    width: 93.5%;
    appearance: inherit;
    padding-block: 0;
    padding-inline: 0;
    background-color: transparent;
    text-align: center;
    font-family: var(--f-normal);
    font-size: 16px;
    border: 0;


    &::selection,
    &:focus,
    &:active {
        outline: 0;
    }

    &::placeholder {
        color: var(--color-a);
        font-size: 16px;
    }


}

.lb-busqueda {
    position: relative;
    height: 100%;
    min-width: 10%;
    display: flex;
    justify-content: center;
}

.lb-busqueda .btn-label-txt {
    width: 25px;
    height: 100%;
    background: url(../../public/svg/lupa.png) no-repeat 2px;
    background-size: 80% 80%;
    border: 0;

    &:hover {
        cursor: pointer;
    }
}

@media (width <=1000px) {
    .btn-label-txt {
        /* width: 40px; */
    }
}

@media (width <=950px) {


    .btn-label-txt {
        /* width: 21%; */
    }
}