/* @page {
    background-color: blue;
} */

.navbar-item.busqueda {
    z-index: 10;
    grid-row: 1/2;
    grid-column: 2/5;
    height: 100%;
    width: 50%;

}

form {
    display: flex;
    height: 100%;
    min-width: 100%;
    border: 1px solid var(--color);
    border-radius: 20px 20px;
    padding: 5px;
}

.lb-busqueda {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* arreglar auto ajuste de la input. */
.i-txt {
    height: 100%;
    width: 100%;
    appearance: inherit;
    padding-block: 0;
    padding-inline: 0;
    background-color: transparent;
    text-align: center;
    font-family: var(--f-normal);
    font-size: 16px;
    border: 0;


    &::selection,
    &:focus,
    &:active {
        outline: 0;
    }

    &::placeholder {
        color: var(--color-a);
        font-size: 16px;
    }


}



.btn-label-txt {
    min-width: 25px;
    height: 100%;
    background: url(../../public/svg/lupa.png) no-repeat 0 2px;
    background-size: 80% 80%;
    border: 0;

    &:hover {
        cursor: pointer;
    }
}

@media (width <=1000px) {
    .btn-label-txt {
        /* width: 40px; */
    }
}

@media (width <=950px) {


    .btn-label-txt {
        /* width: 21%; */
    }
}