.navbar-item.carro {
    height: 40px;
    width: 55px;
    grid-row: 2/3;
    grid-column: 6/7;
    transition: all 120ms cubic-bezier(0.785, 0.135, 0.15, 0.86);

}

.navbar-item.carro .a-item::after {
    box-shadow: var(--color) 0px 0px 3.5px;
    transition: all .24s ease 111ms;
}

/* label contenedor carro */
.navbar-item .a-item.🛒 {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    background: url(../../public/svg/cart.svg) no-repeat 35% 60%;
    background-size: 50% 60%;
    font-family: var(--f-normal);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 10;

    &:hover {
        cursor: pointer;
    }
}

.a-item.🛒 .txt-item {
    position: relative;
    top: -10px;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    color: #fff;
    background-color: #e00;
}

/* items de carro abierto */
#carro {
    display: none;

    &:checked~.carro-abrir {
        width: 30%;
        height: 100%;
        transition: all .55s ease-in;
    }

    &:checked~.carro-abrir .c-hijo {
        animation: verSlide .67s;
    }

    &:not(:checked)~.carro-abrir .c-padre .c-hijo {
        display: none;
    }
}

.carro-abrir {
    position: absolute;
    right: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background: var(--color);
    transition: all .20s ease-in-out;
    z-index: 20;
}


.carro-abrir .c-padre {}

.c-hijo {
    display: flex;
    height: 100%;
    margin: 30px 20px;
    gap: 20px;
    flex-direction: column;
    background: var(--bg);
}

.c-encabezado {
    display: flex;
    justify-content: space-between;
}

@keyframes verSlide {


    0%,
    80% {
        display: none;
    }

    100% {
        display: flex;
    }
}

@media (width <=756px) {
    .navbar-item.carro {
        grid-area: 2/6;
    }
}