.navbar-item.carro {
    height: 40px;
    width: 55px;
    grid-row: 2/3;
    grid-column: 6/7;
    transition: all 120ms cubic-bezier(0.785, 0.135, 0.15, 0.86);

}

.btn-a-item {
    display: block;
    width: 4rem;
    height: 2rem;
    background-color: transparent;
    border: transparent;
}

.navbar-item.carro .a-item::after {
    box-shadow: var(--color) 0px 0px 3.5px;
    transition: all .24s ease 111ms;
}

/* label contenedor carro */
.navbar-item .a-item.🛒 {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    background: url(../../public/svg/cart.svg) no-repeat 35% 60%;
    background-size: 50% 60%;
    font-family: var(--f-normal);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 5;

    &:hover {
        cursor: pointer;
    }
}

.a-item.🛒 .txt-item {
    position: relative;
    top: -10px;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    color: #fff;
    background-color: #e00;
}

/*  
abir el carro
*/
/* items de carro abierto */
#carro {
    display: none;

    &:checked~.carro-abrir .c-padre {
        width: 39vw;
        height: 100%;
        transition: all .55s ease-in;
    }

    &:checked~.carro-abrir .c-padre .c-hijo,
    &:checked~.carro-abrir .c-padre .c-footer {
        animation: verSlide .67s;
    }

    &:not(:checked)~.carro-abrir .c-padre .c-hijo,
    &:not(:checked)~.carro-abrir .c-padre .c-footer {
        display: none;
    }
}

/* falta desing */

.carro-abrir .c-padre {
    position: fixed;
    right: 0;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(75%, 60%) minmax(25%, 15%);
    width: 0px;
    height: 100vh;
    border-radius: var(--br);
    background: var(--bg3);
    transition: all .20s ease-in-out;
    z-index: 20;
}

.carro-abrir .c-padre .c-hijo {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 20px 0 20px;
    border-radius: var(--br);
    background: var(--bg);
    box-shadow: var(--bg) 0px 0px 7px;
    border: var(--color) .4px solid;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.c-padre .c-hijo .c-encabezado {
    /* position: fixed; */
    min-height: 7vh;
    padding: 14px 5px 0px 5px;
    margin: 3px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2.4rem;
    align-items: center;
    z-index: 21;
    background-color: var(--bg);
}

.c-hijo .c-encabezado .c-encabezado-title {
    font-size: 25px;
    font-family: var(--f);
    margin-top: 2.5px;
    grid-column: 2/3;
    grid-row: 1;
    justify-self: center;
}

.c-hijo .c-encabezado .lb-close {
    transform: scale(.5);
    /* position: relative; */
    height: 3rem;
    width: 3rem;
    grid-column: 3/4;
    grid-row: 1;
    justify-self: end;

    &:hover {
        cursor: pointer;
    }
}

.c-hijo .c-encabezado .btn-close {
    z-index: -1;
}

.c-padre .c-hijo .c-encabezado hr {
    background-color: var(--color);
    width: 95%;
    grid-column: 1 / -1;
    grid-row: 1;
    justify-self: center;
    align-self: end;
}

.c-hijo .c-cuerpo {
    text-align: center;
    height: 100%;
    overflow: auto;
    border-radius: var(--br);
    scrollbar-width: thin;
    scrollbar-color: var(--color) var(--bg);

    &::-webkit-scrollbar {
        width: thin;
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: var(--bg);
        border-radius: var(--br);
    }

    &::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-track-piece {
        background: var(--color);
        border-radius: calc(var(--br)*2);
        border: 3px solid var(--bg);
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--bg3);
    }

    &::-webkit-scrollbar-corner {
        height: 20px;
    }

    &::-webkit-scrollbar-button {
        background: url(../../public/svg/drop-down.svg) 50% no-repeat;
        background-size: 150% 150%;
    }

    &::-webkit-scrollbar-button:hover {
        background: url(../../public/svg/drop-down-focus.svg) 50% no-repeat;
        background-size: 150% 150%;
    }

    &::-webkit-scrollbar-button:vertical:decrement {
        background: url(../../public/svg/drop-down-top.svg) 50% no-repeat;
        background-size: 150% 150%;
    }

    &::-webkit-scrollbar-button:vertical:decrement:hover {
        background: url(../../public/svg/drop-down-top-focus.svg) 50% no-repeat;
        background-size: 150% 150%;
    }

}

.c-hijo .bienbenida {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.c-hijo .c-cuerpo .cards {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* overflow-y: auto; */
}

.c-hijo .c-cuerpo .cards .c-card {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 6.5rem;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: .5rem;
    background: var(--bg2);
    border: 2px solid var(--color);
    border-radius: var(--br);
    color: var(--color-a);
    box-shadow: 0 0 10px var(--bg2);
    cursor: default;

}

.c-cuerpo .cards .c-card .btn-close {
    top: 3px;
    right: 3px;
    position: absolute;
    height: 1rem;
    width: 1rem;

    &:active {
        box-shadow: 0 0 1px #000;
    }
}

.c-cuerpo .cards .c-card .conte-img {
    padding: var(--br);
    width: 100%;
    height: fit-content;
}

.c-cuerpo .cards .c-card .conte-img img {
    object-fit: contain;
    padding: 2px;
    height: 100%;
    width: 100%;
    border: 2px solid var(--btn);
    box-shadow: 0 0 2px var(--btn);
    border-radius: var(--br);
}

.c-cuerpo .cards .c-card .info-producto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: monospace;
}

.c-cuerpo .cards .c-card .info-producto b {
    /* font-weight: 900; */
    /* font-size: 120%; */
}

.c-cuerpo .cards .c-card .info-producto .desc-info-p {
    height: 100%;
    width: 100%;
    font-size: 100%;
    text-wrap: pretty;
    display: flex;
    flex-direction: column;
}

.c-card .info-producto .desc-info-p p {
    width: 100%;

    /* &:nth-child(1) {} */

    &:nth-child(2) {
        filter: grayscale(1.8);
    }
}

.c-cuerpo .cards .c-card .contador {
    width: 100%;
    height: 50%;
    margin: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.c-cuerpo .cards .c-card .contador .count {
    width: 35%;
    justify-self: center;
    align-self: center;
    border-bottom: 1px solid #000;
    grid-column: 1 / 3;
    grid-row: 1;
    /* background-color: #994141; */
}

.c-cuerpo .cards .c-card .contador .btn-count {
    grid-row: 2;
    height: 100%;
    width: 50%;
    border: transparent;
    border-radius: 50%;
    transform: scale(.8);

    &:hover {
        cursor: pointer;
    }

    &:nth-child(2) {
        background: url(../../public/svg/mas.svg) no-repeat .2px -1px;
        background-size: 100% 100%;
        grid-column: 1;
    }

    &:nth-child(3) {
        background: url(../../public/svg/rest.svg) no-repeat 0 4.5px;
        background-size: 100% 70%;
        grid-column: 2;
    }

    &:active {
        box-shadow: 0 0 1px #000;
    }
}

.c-footer {
    position: relative;
    bottom: 0;
    padding: 5px;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: var(--br);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: var(--bg2);
    border: 1px solid var(--color);
    border-top: 0px solid transparent;
    z-index: 25;
    overflow: hidden;
}

.desc-compras {
    width: 70%;
    height: 100%;
    text-align: center;
    /* display: grid; */
    /* align-items: center; */
    margin: 5px;
    font-size: 14px;
}

.desc-compras hr {
    width: 100%;
    border: .5px solid var(--color);
}

.botones {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5px;
    font-size: 80%;
}

.btn {
    position: relative;
    display: inline-block;
    padding: .15rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid var(--color);
    color: #994141;
    background: var(--bg2);
}

.btn-span {
    position: relative;
    z-index: 3;
}


.btn::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -2px;
    width: calc(100% + 6px);
    /*100% plus double the times left values*/
    height: calc(100% - 10px);
    background-color: var(--bg2);
    transition: all 0.5s ease-in-out;
    transform: scaleY(1);
}

.btn:hover::before,
.btn:hover::before {
    transform: scaleY(0);
}

.btn::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -5px;
    width: calc(100% - 10px);
    /*100% plus double the times left values*/
    height: calc(100% + 10px);
    background-color: var(--bg2);
    transition: all 0.5s ease-in-out;
    transform: scaleX(1);
}

/* Created by http://grohit.com/  */

.btn:hover::after,
.btn:hover::after {
    transform: scaleX(0);
}


@keyframes verSlide {


    0%,
    80% {
        display: none;
    }

    100% {
        display: flex;
    }
}

@media (width <=756px) {
    .navbar-item.carro {
        grid-area: 2/6;
    }
}