@font-face {
  font-family: title-stay;
  src: url(../../public/font/Kenlan.ttf);
}



@font-face {
  font-family: normal-stay;
  src: url(../../public/font/Scintilla.otf);
}


:root {

  --color-a: #263159;
  --color: #682200;
  --bg: #E8E5C8;
  --btn: #9c7152;
  --bg2: #cebd9f;
  --bg3: #dcd3b6;
  --br: 4px;

  --h-logo: 70px;
  --f: title-stay;
  --f-normal: normal-stay;
  --border: 0.5px solid #000000a6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


a {
  color: var(--color);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-a);
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  /* min-height: 100vh; */
  background-color: var(--bg);
  /* overflow-x: hidden; */
}




.btn-close {
  background: transparent;
  width: 100%;
  height: 100%;
  border: 0;
  background: url(../../public/svg/close.svg) 0px no-repeat;
  background-size: 100%;
  transform: scale(1);
  position: relative;

  &:hover {
    cursor: pointer;
  }
}













@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}