@font-face {
  font-family: title-stay;
  src: url(../../public/font/Kenlan.ttf);
}



@font-face {
  font-family: normal-stay;
  src: url(../../public/font/Scintilla.otf);
}


:root {

  --color-a: #263159;
  --color: #682200;
  --bg: #E8E5C8;

  --h-logo: 70px;
  --f: title-stay;
  --f-normal: normal-stay;
  --border: 0.5px solid #000000a6;
  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


a {
  color: var(--color);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-a);
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 300px;
  min-height: 100vh;
  background-color: var(--bg);
  overflow-x: hidden;
}


















@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}