.NB-top-container-tops {
    z-index: 10;
    display: flex;
    width: 150%;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 5/6;
    grid-row: 1/2;
    gap: 15%;
}

.NB-top-container {
    position: relative;
}

/* bg iconos top */
.NB-top-item {
    padding: 3px 0;
    width: 50px;
    height: 36px;
    display: flex;
    border-radius: 45px 42px;
    border: 1px solid var(--color);
    box-shadow: 0px 0px 2px var(--color);

    /* transitiones... */
    &::before {
        transition: all 3ms ease-in-out;
    }

    /* hovers */
    &:hover {
        cursor: pointer;
        filter: brightness(1.4);
        transition: all .1s ease-in-out;
    }
}

/* estilos de el btn abierto*/
.NB-top-item:hover+.NB-top-open,
.NB-top-open {
    position: absolute;
    left: -120%;
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    width: calc(var(--bg-size)*7);
    height: calc(var(--bg-size)*7);
    border: 1px solid var(--color-a);
    border-radius: 3px;
    background: var(--bg);
}

/* estilos de el btn cerrado */
.NB-top-open.closed {
    display: none;
}

/* bg imagenes bell*/
.NB-top-item.bell {
    &::before {
        content: "";
        width: 100%;
        background: url(../../public/svg/bell.svg) 45% no-repeat;
        background-size: var(--bg-size);
    }
}

/* bg imagenes msg*/
.NB-top-item.msg {
    &::before {
        content: "";
        width: 100%;
        background: url(../../public/svg/contact.svg) 45% no-repeat;
        background-size: var(--bg-size);
    }
}

.conte-top {
    padding: 7px;
    width: 100%;
    height: 100%;
    background-color: rgb(216, 216, 194);
}

.NB-top-open .btn-close {
    background: transparent;
    border: 0;
    width: 10px;
    height: 10px;
    background: url(../../public/svg/close.svg) 0px no-repeat;
    background-size: 100%;
    transform: scale(2.8);
    position: absolute;
    top: 12px;
    right: 20px;

    &:hover {
        cursor: pointer;
    }
}

.NB-top-open.bell .btn-close {
    right: 15px;
}

.conte-top .title-top {
    height: calc(var(--h-logo)*.43);
    font-family: var(--f-normal);
    font-size: 19px;
    text-align: center;
    padding-right: calc(var(--h-logo)*.1);
}

.NB-top-open.bell .conte-top .title-top {
    padding-right: calc(var(--h-logo)*.40);
}

.conte-top .card-top {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40px;
    width: 100%;
    padding-left: 10px;
}

.conte-top .card-top .bg-interno {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    background: url(../../public/svg/codeFail.svg);
    background-repeat: no-repeat;
    background-size: 65% 65%;
    background-position: 60px;
}

.conte-top .card-top .bg-interno.facebook {
    background: url(../../public/svg/facebook.svg) 150% no-repeat;
    background-size: 65% 65%;
}

.conte-top .card-top.facebook {

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: var(--border);
    border-top: 0;
    background-color: #4460a0;
}

.conte-top .card-top .bg-interno.instagram {
    background: url(../../public/svg/instagram.svg) 150% no-repeat;
    background-size: 65% 65%;
}

.conte-top .card-top.instagram {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: var(--border);
    border-bottom: 0;
    background: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
}

.conte-top .card-top .bg-interno.whatsapp {
    background: url(../../public/svg/whatsapp.svg) 150% no-repeat;
    background-size: 65% 65%;
}

.conte-top .card-top.whatsapp {
    border-right: var(--border);
    border-left: var(--border);
    background: linear-gradient(to right, #2BB741, #25D366);
}

@media(width <=730px) {

    .NB-top-container-tops {
        grid-column: 2/5;
    }


    @media (width <=480px) {


        .NB-top-container {
            grid-area: 1/4;
        }

        .NB-top-item {
            padding: 0;
            width: 55px;
            height: 30px;
        }

        .NB-top-item.msg::before,
        .NB-top-item.bell::before {
            background-size: calc(var(--bg-size)*.85);
        }

        @media (width <=380px) {
            .navbar-item {
                display: none;
            }
        }
    }


}