.login-container {
    height: 30px;
    background-color: var(--color);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 5px;
    color: var(--bg);
}

.login-items {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 13.5px;
    color: var(--bg);

}

.I {
    &::before {
        content: "";
        display: inline-block;
        width: 25px;
        height: 17px;
        background: url('../../public/svg/person.svg') no-repeat 0px -1.5px;
        background-size: 15px;
    }

    &:hover {
        color: var(--color-a);

        &::before {
            content: "";
            display: inline-block;
            width: 25px;
            height: 17px;
            background: url('../../public/svg/person-acent.svg') no-repeat 0px -1.5px;
            background-size: 15px;
        }

    }
}