.logo-container {
    grid-row: 1/4;
    display: flex;
    min-width: 240px;
    justify-content: center;
    align-items: center;
}

.img-container {
    display: block;
    background: url(/public/svg/dress.svg) 100% 0px no-repeat;
    background-size: 60px;
    user-select: none;
    height: 80%;
    width: 75%;
}

.bg-txt-logo {
    display: block;
    text-align: center;
    flex: 1 1 auto;
    width: 80%;
    height: var(--h-logo);
    font-family: var(--f);
    font-size: 28px;
    font-weight: 800;
    filter: brightness(1.2);
    background: conic-gradient(at left bottom, rgb(240, 171, 252), rgb(74, 222, 128), rgb(190, 18, 60));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}