:root {
    --bg-size: 24px;
}

/* bg del menu */
.navbar-menu {
    display: grid;
    justify-items: center;
    grid-template-columns: 240px repeat(5, minmax(10px, 240px));
    grid-template-rows: 40px repeat(2, 35px);
    padding: 10px 25px;
    /* box-shadow: 0 10px 58px rgb(0, 0, 0); */
    border-bottom: var(--border);
    background: var(--bg);
}

/* enlaces de navegacion*/
.navbar-item {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    grid-row: 3/4;
    width: 100%;
}


.navbar-item .a-item {
    font-family: var(--f-normal);
    font-size: calc(var(--bg-size)*.7);
    text-align: center;
    height: 50%;
    position: relative;
    color: var(--color-a);

    /* items a de la navegacion en hover */
    &:hover {
        filter: brightness(1.4);
    }

}

.navbar-item .a-item:hover::after,
.navbar-item .a-item.on::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0px;
    background-color: var(--color-a);
}

/* enlaces de navegacion responsive. */

@media(width <=1150px) {
    .navbar-menu {
        grid-template-columns: 200px repeat(5, minmax(10px, 240px));
    }

    @media (width <=480px) {
        .navbar-menu {
            grid-template-columns: 120px repeat(3, minmax(50px, 140px));
        }
    }
}



/*posicion botones de navegacion */