:root {
    --bg-size: 24px;
}

/* bg del menu */
.navbar-menu {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(6, minmax(10px, 240px));
    grid-template-rows: 40px repeat(2, 23.3px);
    padding: 10px 25px;
    /* box-shadow: 0 10px 58px rgb(0, 0, 0); */
    border-bottom: var(--border);
    background: var(--bg);
}

/* enlaces de navegacion*/
.navbar-item {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    grid-row: 2/4;
    width: 100%;

    /* poniendo en orden de columnas de los items de la navegacion */
    &:nth-child(6) {
        height: 150%;
        width: 35%;
        grid-row: 2/3;
        border: 1px solid var(--color);
        border-radius: 45px 45px;
    }
}

/* items a de la navegacion */
.navbar-item .a-item.🛒 {
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'san-sherif';

    &:hover::before {
        content: "(1)";
    }

    &::before {
        content: "(0)";
        height: 15px;
        position: absolute;
        left: 5px;
        display: block;
        transform: rotateY(180deg);
        z-index: -1;
    }
}

.navbar-item .a-item.🛒:hover::after {
    content: "";
    visibility: hidden;
}

.navbar-item .a-item {
    font-family: var(--f-normal);
    font-size: calc(var(--bg-size)*.7);
    text-align: center;
    height: 50%;
    position: relative;
    color: var(--color-a);

    /* items a de la navegacion en hover */
    &:hover {
        filter: brightness(1.4);

        &::before {
            content: "";
            /* filter: brightness(1.2); */
        }
    }

}

.navbar-item .a-item:hover::after,
.navbar-item .a-item.on::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0px;
    background-color: var(--color-a);
}

.txt-item {
    padding: 0 10px;
    position: relative;

}

/* botones de navegacion */

.NB-top-container-tops {
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 4/6;
    grid-row: 1/2;
    gap: 15%;
}

.NB-top-container {
    position: relative;

}

/* bg iconos top */
.NB-top-item {
    padding: 3px 0;
    width: 50px;
    height: 36px;
    display: flex;
    /* background-color: var(--color); */
    border-radius: 45px 42px;
    border: 1px solid var(--color);
    box-shadow: 0px 0px 2px var(--color);


    /* transitiones... */
    &::before {
        transition: all 3ms ease-in-out;
    }

    /* hovers */
    &:hover {
        cursor: pointer;
        filter: brightness(1.4);
        transition: all .1s ease-in-out;

        +.NB-top-open {
            position: absolute;
            left: -70%;
            display: flex;
            flex-direction: row-reverse;
            align-items: start;
            width: calc(var(--bg-size)*4);
            height: calc(var(--bg-size)*4);
            border: 1px solid var(--color-a);
            border-radius: 3px;
            background: var(--bg);
        }
    }
}

/* estilos de el btn abierto*/

.NB-top-open {
    position: absolute;
    left: -70%;
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    width: calc(var(--bg-size)*4);
    height: calc(var(--bg-size)*4);
    border: 1px solid var(--color-a);
    border-radius: 3px;
    background: var(--bg);
}

/* estilos de el btn cerrado */
.NB-top-open.closed {
    display: none;
}

/* bg imagenes bell*/
.NB-top-item.bell {
    &::before {
        content: "";
        width: 100%;
        background: url(../../public/svg/bell.svg) 45% no-repeat;
        background-size: var(--bg-size);
    }
}

/* bg imagenes msg*/
.NB-top-item.msg {
    &::before {
        content: "";
        width: 100%;
        background: url(../../public/svg/contact.svg) 45% no-repeat;
        background-size: var(--bg-size);
    }
}


/* enlaces de navegacion responsive. */

@media(width < 1150px) {
    .navbar-menu {
        grid-template-columns: 240px repeat(5, minmax(10px, 240px));
    }

    .navbar-item {
        &:nth-last-child(3) {
            /* display: none; */
        }
    }
}

@media (width<1000px) {

    .navbar-item {
        &:nth-last-child(4) {}

        &:nth-last-child(5)::after {
            background: aqua;
            content: "...";
        }
    }

    .navbar-menu {
        grid-template-columns: 200px repeat(4, minmax(10px, 140px));
    }

}


/*posicion botones de navegacion */


@media (width <=480px) {
    .navbar-menu {
        grid-template-columns: 120px repeat(3, minmax(10px, 140px));
    }

    .NB-top-container {
        grid-area: 1/4;
    }

    .NB-top-item {
        padding: 0;
        width: 55px;
        height: 30px;
    }

    .NB-top-item.msg::before,
    .NB-top-item.bell::before {
        background-size: calc(var(--bg-size)*.85);
    }

    @media (width <=380px) {
        .navbar-item {
            display: none;
        }
    }



}